.ddsubmenustyle {
	Z-INDEX: 100;
	BORDER-BOTTOM: #a6a6a6 1px solid;
	POSITION: absolute;
	BORDER-LEFT: #a6a6a6 1px solid;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	MARGIN-LEFT: 0px; /*RSORRT*/
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT: 11px Arial, Helvetica, sans-serif;
	BACKGROUND: #dbe4ee;
	VISIBILITY: hidden;
	BORDER-TOP: #a6a6a6 1px solid;
	TOP: 0px;
	BORDER-RIGHT: #a6a6a6 1px solid;
	PADDING-TOP: 0px;
	LEFT: 0px
}

.ddsubmenustyle UL {
	Z-INDEX: 100;
	BORDER-BOTTOM: #a6a6a6 1px solid;
	POSITION: absolute;
	BORDER-LEFT: #a6a6a6 1px solid;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT: 11px Arial, Helvetica, sans-serif;
	BACKGROUND: #dbe4ee;
	VISIBILITY: hidden;
	BORDER-TOP: #a6a6a6 1px solid;
	TOP: 0px;
	BORDER-RIGHT: #a6a6a6 1px solid;
	PADDING-TOP: 0px;
	LEFT: 0px
}

.ddsubmenustyle LI A {
	POSITION: relative;
	PADDING-BOTTOM: 4px;
	BACKGROUND-COLOR: #dbe4ee;
	MARGIN: 0px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 12px;
	DISPLAY: block;
	WHITE-SPACE: nowrap;
	COLOR: #254163;
	TEXT-DECORATION: none;
	PADDING-TOP: 4px
}

* HTML .ddsubmenustyle LI {
	WIDTH: 170px;
	DISPLAY: inline-block
}

.ddsubmenustyle LI A:hover {
	BACKGROUND-COLOR: #86a6cb;
	COLOR: white
}

.downarrowpointer {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-LEFT: 0px;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px
}

.rightarrowpointer {
	BORDER-BOTTOM: 0px;
	POSITION: absolute;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 2px;
	WIDTH: 8px;
	PADDING-RIGHT: 2px;
	BORDER-TOP: 0px;
	RIGHT: 2px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 3px
}

.ddiframeshim {
	Z-INDEX: 500;
	POSITION: absolute;
	BORDER-RIGHT-WIDTH: 0px;
	WIDTH: 0px;
	DISPLAY: block;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-TOP-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	HEIGHT: 0px;
	BORDER-LEFT-WIDTH: 0px
}

.markermenu {
	POSITION: relative;
	WIDTH: 175px;
	CLEAR: left
}

.markermenu UL {
	BORDER-BOTTOM: #9a9a9a 1px solid;
	BORDER-LEFT: #9a9a9a 1px solid;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 5px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #9a9a9a 1px solid;
	BORDER-RIGHT: #9a9a9a 1px solid;
	PADDING-TOP: 0px
}

.markermenu UL LI A {
	BORDER-BOTTOM: #b5b5b5 1px solid;
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 20px;
	WIDTH: auto;
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	FONT: 11px Arial, Helvetica, sans-serif;
	BACKGROUND: url(bulletlist.gif) #f2f2f2 no-repeat 3px center;
	TEXT-DECORATION: none;
	PADDING-TOP: 3px
}

* HTML .markermenu UL LI A {
	WIDTH: 155px
}

.markermenu UL LI A:visited {
	COLOR: #00014e
}

.markermenu UL LI A:active {
	COLOR: #00014e
}

.markermenu UL LI A:hover {
	BACKGROUND-COLOR: black;
	COLOR: white
}

.markermenu UL LI A.selected {
	BACKGROUND-COLOR: black;
	COLOR: white
}

.blackwhite LI A {
	BACKGROUND: white
}

.blackwhite LI A:hover {
	BACKGROUND: black;
	COLOR: white
}

.mattblackmenu UL #DropMenu {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT: bold 11px Arial, Helvetica, sans-serif;
	OVERFLOW: hidden;
	PADDING-TOP: 0px
}

.mattblackmenu LI {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	DISPLAY: inline;
	PADDING-TOP: 0px
}

.mattblackmenu LI A {
	PADDING-BOTTOM: 5px;
	MARGIN: 0px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	DISPLAY: block;
	FONT: 11px Arial, Helvetica, sans-serif;
	FLOAT: left;
	COLOR: #888888;
	TEXT-DECORATION: none;
	PADDING-TOP: 5px
}

.mattblackmenu LI A:visited {
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #888888;
	PADDING-TOP: 5px
}

.mattblackmenu LI A:hover {
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #000;
	TEXT-DECORATION: underline;
	PADDING-TOP: 5px
}

.mattblackmenu A.selected {
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #dcdcdc;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #000;
	TEXT-DECORATION: underline;
	PADDING-TOP: 5px
}

#DropMenuLI {
	LIST-STYLE-TYPE: none;
	LIST-STYLE-IMAGE: none
}

.mattblackmenu {
	FLOAT: left;
	TEXT-ALIGN: left;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT: 11px Arial, Helvetica, sans-serif;
	HEIGHT: 25px;
	PADDING-TOP: 0px
}

.pipe_padding {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

.ddsubmenustylelink:visited {
	COLOR: #254163
}

#ddtopmenubar {
	PADDING-BOTTOM : 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
}

#DropMenu {
	POSITION: relative;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 100%;
	PADDING-RIGHT: 0px;
	HEIGHT: auto;
	PADDING-TOP: 0px
}